body {
    margin: 0;
    padding: 0;
}

header.header-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

nav.nav-main {
    background-color: blueviolet;
}

nav.nav-main a {
    margin: 5px;
}

