@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

/* neutral-#DED7C8 #E8B96F #D18E4B #E6956E #E06518 */

body {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

p {
    display: inline;
}

h1 {
    display: inline;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
    background-color: cornsilk;
    transition: opacity 2s ease-in;
}

header.header-main {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(250, 247, 242);
    transition: height 0.25s;
}

nav.nav-main a {
    text-decoration: none;
    color: black;
    margin: 0 15px 0 15px;
    padding: 5px 10px 5px 10px;
}

nav.nav-main a:hover {
    border-radius: 15px;
    background-color: #e6956e;
    color: white;
    transition: background-color 0.25s, color 0.25s, border-radius 0.25s;
}

div.logo-main-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100vw;
}

div.logo-main-wrap h1 {
    position: relative;
    top: 36px;
    font-size: 8vmin;
}

header h1.title {
    font-size: 5vmin;
  }

section.hero-content {
    height: 90vh;
    width: 100vw;
    padding: 0 auto 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

section.hero-content div.hero-articles {
    height: 80%;
    width: 50vw;
    margin-right: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

div.hero-articles div.hero-articles-col1 {
    height: 100%;
    width: 50%;
    padding-right: 15px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

div.main-article {
    width: 100%;
    height: 80%;
    overflow: hidden;
    position: relative;
}

div.hero-articles div.hero-articles-col2 {
    height: 100%;
    width: 40%;
    padding: 30px 0 0 0;
}

div.secondary-article {
    height: 45%;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
}

div.secondary-article.portrait {
    width: 60%;
}

div.secondary-article.landscape {
    height: 40%;
}

/* overlays */

div.overlay {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 0;
    left: 0;
    transform: translate(5%, 5%);
    background-color: #e6956de3;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    opacity: 0;
}

div.overlay:hover {
    opacity: 1;
}

div.overlay > * {
    margin: 10px;
    padding: 0;
}


/* instagram grid */
section.hero-content div.instagram-feed {
    width: 30vw;
    min-width: 200px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 25px;
}


span.feed-switch {
    background-color: none;
    color: black;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    transition: background-color 0.25s, color 0.25s;
}
  
span.selected {
    background-color: #e6956e;
    color: white;
}


div.instagram-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto;
}

div.instagram-grid div.grid-item {
    background-color: cornsilk;
    height: 120px;
    width: 120px;
    min-width: 50px;
    text-align: center;
}

div.grid-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* stories section */
section.stories-section {
    width: 100vw;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

div.stories-header {
    width: 100vw;
    height: 80px;
    background-color: cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vw;
}

section.stories-section div.grid-wrap {
    width: 80vw;
}

section.stories-section div.grid {
    display: grid;
    grid-gap: 100px;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
}

section.stories-section div.grid-wrap div.story {
    height: 600px;
    width: 500px;
    max-width: 100%;
    text-align: center;
    position: relative;
}

div.story img {
    height: 60%;
    width: 90%;
    object-fit: cover;
}

div.story h3 {
    text-align: left;
}



div.story p {
    display: block;
    text-align: left;
    font-size: 12px;
    max-height: 70px;
    overflow: hidden;
    margin-bottom: 15px;

    background: -webkit-linear-gradient(#000, #ffffff00);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div.story a {
    font-size: 12px;
    display: inline-block;
    padding: 0 0 5px 0;
    -webkit-box-shadow: inset 0 -1px 0 black;
    box-shadow: inset 0 -1px 0 black;
    position: relative;
    box-shadow: inset 0 -1px 0 black;
    transition: all .26s ease-out;
}

div.story a:hover {
    box-shadow: inset 0 -15px 0 #d5a493 !important; 
}

div.story div.color-block {
    position: absolute;
    top: 0;
    left: 0;
    height: 70%;
    width: 90%;
    background-color: cornsilk;
    transform: translate(15%, 10%);
    z-index: -1;
}

    /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    div.logo-main-wrap {
        height: 210px;
    }

    section.hero-content div.instagram-feed {
        width: 93vw;
        height: 100%;
        margin: 0;
    }

    section.hero-content {
        height: 150vw;
        width: 100vw;
    }
    
    section.hero-content div.hero-articles {
        height: 100vw;
        width: 100vw;
        margin-right: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
    }

    div.hero-articles div.hero-articles-col1 {
        height: 100vw;
        width: 100vw;
        padding: 0;
        margin-bottom: 15px;
    } 

    div.main-article {
        width: 90vw;
        height: 100vw;
    }

    div.hero-articles div.hero-articles-col2 {
        height: 50vw;
        width: 100vw;
        padding: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

    div.secondary-article {
        height: 45vw;
        width: 45vw;
        text-align: center;
        overflow: hidden;
        position: relative;
    }

    div.secondary-article.portrait {
        width: 45vw;
    }
    
    div.secondary-article.landscape {
        height: 45vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 1300px) {
    
    section.hero-content {
        flex-flow: column nowrap;
        align-items: center;
        height: fit-content;
    }

    section.hero-content div.hero-articles {
        height: 100%;
        width: 60vw;
        align-items: center; 

    }

}